.check-box .box {

-fx-background-color: transparent;
-fx-border-color:#d1d1d1;
-fx-border-radius:0; 
-fx-border-width: 1;
-fx-background-radius: 2;
}

.check-box .mark {
-fx-background-colour: #d1d1d1
}

.check-box:selected .mark {
-fx-background-color: darkgrey;
}

.check-box:selected .box {

-fx-background-color: #e1e1e1;
}