.list-view {
  -fx-background-color:  transparent;
  -fx-control-inner-background-alt: #e1e1e1;
  -fx-border-width: 1;
  -fx-border-color: #e1e1e1;
}

.list-cell{
  -fx-background-color:  transparent;
}

.list-cell:even {
    -fx-background-color: white;
}

.list-cell:odd {
	-fx-background-color:  #e1e1e1;
}

.list-cell:empty {
  -fx-background-color:  white;
  -fx-border-color:  transparent;
}

.list-cell:selected {
   -fx-background-color: darkgrey; 
}

.list-cell:selected .text {
       -fx-fill: white ;
}

.list-cell:hover {
	-fx-background-color: darkgrey; 
}