.table-view{
  -fx-background-color:  transparent;
  -fx-control-inner-background-alt: #e1e1e1;
}

/* .table-column-cell:filled {
  -fx-control-inner-background-alt: #e1e1e1;
} */

.table-cell {
  -fx-background-color:  transparent;
}

.table-cell:empty {
  -fx-background-color:  white;
  -fx-border-color:  transparent;
}

.table-row-cell:odd:filled {
  /* -fx-background-color: #e1e1e1; */
}

/* .table-view:focused {
  -fx-background-color:  transparent;
} */

.table-view .column-header-background .filler{
    -fx-background-color: white;
    -fx-border-color: white;
}

.table-view .column-header{
    -fx-background-color: #d1d1d1;
    -fx-border-color: white;
    -fx-border-width: 2;
}

.table-view .column-header-background {
	-fx-background-color:  white;
	-fx-padding: 10 0 0 0;
}

.table-row-cell:selected {
   -fx-background-color: darkgrey; 
}

.table-row-cell:selected .text {
       -fx-fill: white ;
}

.table-view .context-menu {
  -fx-background-color: white;
}

/* menu labels */
.table-view .context-menu .label {
  -fx-text-fill:  white;
}

.table-view .show-hide-columns-button {
  -fx-background-color:  #d1d1d1;
}

.table-cell {
  -fx-border-color: white;
}
/* 
.table-cell:filled {
    -fx-background-color: red;
} */

.table-view:filled {
  -fx-background-color:  green;
}